SelectWebClient/App_WebReferences/ShowTrackerServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52044/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52044/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52044/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52044/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="IService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVenue" />
  </wsdl:message>
  <wsdl:message name="IService_GetVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetShow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShow" />
  </wsdl:message>
  <wsdl:message name="IService_GetShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenue" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtist" />
  </wsdl:message>
  <wsdl:message name="IService_GetShowsByArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetArtists" message="tns:IService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetArtistsResponse" message="tns:IService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetVenue" message="tns:IService_GetVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetVenueResponse" message="tns:IService_GetVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetShow" message="tns:IService_GetShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetShowResponse" message="tns:IService_GetShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetShowsByVenue" message="tns:IService_GetShowsByVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetShowsByVenueResponse" message="tns:IService_GetShowsByVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetShowsByArtist" message="tns:IService_GetShowsByArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetShowsByArtistResponse" message="tns:IService_GetShowsByArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/IService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenue">
      <soap:operation soapAction="http://tempuri.org/IService/GetVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShow">
      <soap:operation soapAction="http://tempuri.org/IService/GetShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <soap:operation soapAction="http://tempuri.org/IService/GetShowsByVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <soap:operation soapAction="http://tempuri.org/IService/GetShowsByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52044/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>